@use "../abstracts/mixins" as m;
@use "../abstracts/variables" as var;

header {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .logo-matdevs {
    border-radius: 5%;
  }
  ul {
    @include m.reset-list();
    display: flex;
    gap: 15px;
    a {
      text-decoration: none;
      color: var.$bright-blue;
      font-size: 20px;
      position: relative;
      &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -5px;
        width: 100%;
        height: 4px;
        background-color: var.$bright-blue;
        transform: scaleX(0); // La barra empieza oculta y aparece
        transform-origin: center;
        transition: transform 0.3s ease;
      }
      &:hover::after {
        transform: scaleX(1);
      }
    }
  }
}
