@use "../abstracts/variables" as var;
@use "../abstracts/mixins" as m;

.hero-tittle {
  .tittle {
    @include m.tittle();
    margin-top: 50px;
    margin-bottom: 30px;
  }
  p {
    @include m.sub-tittle();
    font-size: 24px;
    margin: 20px;
  }
}
.hero-body {
  @include m.hero-back();
  .hero-form {
    display: flex;
    justify-content: center;
  }

  h2 {
    @include m.sub-tittle();
    padding-top: 30px;
    margin-bottom: 20px;
  }
  input {
    width: 400px;
    height: 70px;
    font-size: 20px;
    padding-left: 10px;
    border: 0;
    border-radius: 5px 0px 0px 5px;
    background-color: var.$bright-grey;
  }
}

.hero-result {
  display: none;
  @include m.hero-back();
  .hero-result-form {
    display: flex;
    justify-content: center;
  }
  h3 {
    @include m.sub-tittle();
    padding-top: 20px;
    margin-bottom: 20px;
  }
  input {
    width: 400px;
    height: 70px;
    font-size: 20px;
    padding-left: 10px;
    border: 0;
    border-radius: 5px 0px 0px 5px;
    background-color: var.$bright-grey;
  }
}

.hero-error {
  display: none;
  @include m.hero-back();
  height: 100px;
  padding-top: 20px;
  h3 {
    margin-bottom: 10px;
  }
}
