@use "../abstracts/variables" as var;
@use "../abstracts/mixins" as m;

.hero-container-info {
  text-align: center;
  justify-content: center;
  h1 {
    @include m.tittle();
    font-size: 60px;
    margin-bottom: 50px;
    margin-top: 50px;
  }
  h2 {
    @include m.sub-tittle();
    margin: 20px;
    padding-top: 10px;
  }
  p {
    @include m.body();
    font-size: 20px;
    text-align: center;
    margin: 0 auto;
    width: 700px;
  }
}
