$bp-tablet: 768px;
$bp-tablet-horizontal: 1024px;
$bp-desktop: 1200px;
$bp-desktop-xl: 1440px;

// Fonts
$tittle-font: "Cabin", sans-serif;
$sub-tittle-font: "Nunito Sans", sans-serif;
$body-font: "Mukta Vaani", sans-serif;

//Colors
$dark-blue: #1b3c53;
$middle-blue: #234c6a;
$bright-blue: #456882;
$bright-grey: #cbced8;
$fondo: #d2c1b6;
