@use "../abstracts/variables" as var;
@use "../abstracts/mixins" as m;

html {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

body {
  overflow-x: hidden;
  background-color: var.$fondo;
  @include m.body();
}
